page-home {
     .cart-buttons {
        margin: 10px;
        float: right;
    }
    .badge {
        background: #c90000;
        padding: 3px 5px;
        margin-right: -20px;
        position: absolute;
        top: -4px;
        z-index: 1; 
    }

}
